{% extends '@PimcoreAdmin/admin/login/login.html.twig' %}

{% block below_form %}
    {{ parent() }}

    <div class="text-center mt-4">
        <a href="{{ path('iperson1337_pimcore_keycloak_auth_connect') }}" class="btn btn-primary btn-keycloak">
            <i class="fa fa-key"></i> {{ 'Login with Keycloak'|trans }}
        </a>
    </div>

    <style>
        .btn-keycloak {
            background-color: #2e3f54;
            border-color: #2e3f54;
            color: white;
            padding: 10px 20px;
            margin-top: 15px;
            text-transform: uppercase;
            font-weight: bold;
        }

        .btn-keycloak:hover {
            background-color: #1c2b3e;
            border-color: #1c2b3e;
            color: white;
        }
    </style>
{% endblock %}
